<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Oracle - Quienes somos</title>

    <!-- Favicons -->
    <link href="../static/img/aboutUs/oracle-logo.ico" rel="icon" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="../static/css/aboutUs.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/principal.css" />
  </head>

  <body class="index-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <section
        class="container-fluid position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-xl-0"
        >
          <figure class="logo-header"></figure>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="../templates/aboutUs.html" class="active">Quienes somos</a></li>
            <li><a href="../templates/resources.html">Recursos</a></li>
            <li><a href="../templates/news.html">Noticias</a></li>
            <li><a href="../templates/employees.html">Empleos</a></li>
            <li><a href="../templates/social-impact.html">Impacto social</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <section class="header-social-links">
          <a href="https://x.com/oracle?lang=es" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="https://www.facebook.com/Oracle" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/oracle/" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://pe.linkedin.com/company/oracle" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </section>
      </section>
    </header>

    <main class="main">
      <!-- Hero Section -->
      <section id="hero" class="hero section dark-background">
        <figure class="logo-hero" data-aos="fade-in"></figure>

        <section
          class="container text-center"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <section class="row justify-content-center">
            <section class="col-lg-8">
              <h2>Bienvenido a Oracle</h2>
              <p>
                Nuestra misión es ayudar a las personas a ver los datos de
                nuevas formas, descubrir conocimientos y desbloquear infinitas
                posibilidades.
              </p>
              <a href="#about" class="btn-get-started"
                >Click aqui para saber más de nosotros</a
              >
            </section>
          </section>
        </section>
      </section>
      <!-- /Hero Section -->

      <!-- What We Do Section -->
      <section id="what-we-do" class="what-we-do section" style="padding: 80px 0 !important;">
        <!-- Section Title -->
        <section class="container section-title" data-aos="fade-up">
          <h2>Acerca de Oracle</h2>
          <p>
            En Oracle, somos líderes mundiales en tecnología y soluciones
            empresariales que transforman la forma en que las organizaciones
            innovan y operan. Desde nuestra fundación en 1977, hemos
            desarrollado tecnologías avanzadas que impulsan la transformación
            digital en empresas de todos los tamaños y sectores.
          </p>
        </section>
        <!-- End Section Title -->

        <section class="container">
          <section class="row gy-4">
            <section class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <section class="why-box">
                <h3>Por qué elegir Oracle?</h3>
                <p>
                  Oracle es más que un proveedor de tecnología; somos un socio
                  estratégico en la transformación digital de las empresas.
                  Nuestra experiencia, innovación continua y enfoque en
                  resultados tangibles nos convierten en la opción ideal para
                  empresas de todos los sectores y tamaños.
                </p>
                <section class="text-center">
                  <a href="#" class="more-btn"
                    ><span>Learn More</span> <i class="bi bi-chevron-right"></i
                  ></a>
                </section>
              </section>
            </section>
            <!-- End Why Box -->

            <section class="col-lg-8 d-flex align-items-stretch">
              <section class="row gy-4" data-aos="fade-up" data-aos-delay="200">
                <section class="col-xl-4">
                  <section
                    class="icon-box d-flex flex-column justify-content-center align-items-center"
                  >
                    <i class="bi bi-clipboard-data"></i>
                    <h4>Liderazgo en Tecnología</h4>
                    <p>
                      Oracle ha sido pionero en la creación de soluciones
                      tecnológicas durante más de cuatro décadas.
                    </p>
                  </section>
                </section>
                <!-- End Icon Box -->

                <section
                  class="col-xl-4"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <section
                    class="icon-box d-flex flex-column justify-content-center align-items-center"
                  >
                    <i class="bi bi-gem"></i>
                    <h4>Soluciones Escalables y Personalizadas</h4>
                    <p>
                      Nuestras soluciones están diseñadas para adaptarse a las
                      necesidades específicas de cada cliente.
                    </p>
                  </section>
                </section>
                <!-- End Icon Box -->

                <section
                  class="col-xl-4"
                  data-aos="fade-up"
                  data-aos-delay="400"
                >
                  <section
                    class="icon-box d-flex flex-column justify-content-center align-items-center"
                  >
                    <i class="bi bi-inboxes"></i>
                    <h4>Compromiso con la Innovación</h4>
                    <p>
                      Invertimos más de $6 mil millones anualmente en
                      investigación y desarrollo para garantizar que nuestras
                      tecnologías lideren el camino hacia el futuro.
                    </p>
                  </section>
                </section>
                <!-- End Icon Box -->
              </section>
            </section>
          </section>
        </section>
      </section>
      <!-- /What We Do Section -->

      <!-- About Section -->
      <section id="about" class="about section">
        <!-- Section Title -->
        <section class="container section-title" data-aos="fade-up">
          <h2>Valores de Oracle Corporation</h2>
          <p>
            Oracle, como una de las principales empresas tecnológicas a nivel
            mundial, se rige por un conjunto de valores fundamentales que
            definen su cultura organizacional, sus objetivos empresariales y su
            enfoque hacia los clientes, la innovación y la responsabilidad
            social.
          </p>
        </section>
        <!-- End Section Title -->

        <section class="container">
          <section class="row gy-3">
            <section class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <figure id="logo-about" class="img-fluid"></figure>
            </section>

            <section
              class="col-lg-6 d-flex flex-column justify-content-center"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <section class="about-content ps-0 ps-lg-3">
                <h3>
                  Entre los valores más importantes de nuestra empresa, tenemos:
                </h3>
                <p class="fst-italic">
                  Estos valores guían la cultura y las operaciones de Oracle,
                  permitiéndole no solo ser una empresa líder en tecnología,
                  sino también una organización respetuosa con el medio
                  ambiente, socialmente responsable e inclusiva.
                </p>
                <ul>
                  <li>
                    <i class="bi bi-diagram-3"></i>
                    <section>
                      <h4>Innovación</h4>
                      <p>Buscan siempre estar a la vanguardia tecnológica.</p>
                    </section>
                  </li>
                  <li>
                    <i class="bi bi-fullscreen-exit"></i>
                    <section>
                      <h4>Excelencia</h4>
                      <p>
                        Se enfocan en ofrecer productos y servicios de alta
                        calidad.
                      </p>
                    </section>
                  </li>
                </ul>
                <p>
                  Además de ello, Oracle es una de las empresas más grandes y
                  exitosas del mundo tecnológico. A lo largo de su historia, ha
                  logrado cifras impresionantes que reflejan su poder en la
                  industria del software, la nube y las bases de datos.
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>
      <!-- /About Section -->

      <!-- Stats Section -->
      <section id="stats" class="stats section">
        <section class="container" data-aos="fade-up" data-aos-delay="100">
          <section class="row gy-4">
            <section class="col-lg-3 col-md-6">
              <section class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="43000"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Clientes globales</p>
              </section>
            </section>
            <!-- End Stats Item -->

            <section class="col-lg-3 col-md-6">
              <section class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="13.7"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Rentabilidad (millones)</p>
              </section>
            </section>
            <!-- End Stats Item -->

            <section class="col-lg-3 col-md-6">
              <section class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="175"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Presencia Global (países)</p>
              </section>
            </section>
            <!-- End Stats Item -->

            <section class="col-lg-3 col-md-6">
              <section class="stats-item text-center w-100 h-100">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="130"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>Trabajadores (mil)</p>
              </section>
            </section>
            <!-- End Stats Item -->
          </section>
        </section>
      </section>
      <!-- /Stats Section -->

      <!-- Services Section -->
      <section id="services" class="services section light-background" style="padding: 70px 0 !important;">
        <!-- Section Title -->
        <section class="container section-title" data-aos="fade-up">
          <h2>Servicios</h2>
          <p>
            Oracle ofrece una amplia gama de servicios y soluciones que abarcan
            desde bases de datos hasta inteligencia artificial y análisis de
            datos, con un fuerte enfoque en la nube y la digitalización
            empresarial.
          </p>
        </section>
        <!-- End Section Title -->

        <section class="container">
          <section class="row gy-4">
            <section
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <section class="service-item position-relative">
                <section class="icon">
                  <i class="bi bi-activity"></i>
                </section>
                <a href="service-details.html" class="stretched-link">
                  <h3>Oracle Cloud Services (Servicios en la Nube)</h3>
                </a>
                <p>
                  Oracle ofrece una suite completa de servicios en la nube a
                  través de su plataforma Oracle Cloud, que incluye una variedad
                  de soluciones para empresas de todos los tamaños.
                </p>
              </section>
            </section>
            <!-- End Service Item -->

            <section
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <section class="service-item position-relative">
                <section class="icon">
                  <i class="bi bi-broadcast"></i>
                </section>
                <a href="service-details.html" class="stretched-link">
                  <h3>Oracle Database Services</h3>
                </a>
                <p>
                  Oracle es ampliamente conocido por sus potentes y escalables
                  soluciones de bases de datos.
                </p>
              </section>
            </section>
            <!-- End Service Item -->

            <section
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <section class="service-item position-relative">
                <section class="icon">
                  <i class="bi bi-easel"></i>
                </section>
                <a href="service-details.html" class="stretched-link">
                  <h3>Oracle Analytics</h3>
                </a>
                <p>
                  Oracle ofrece una completa gama de herramientas de análisis de
                  datos en la nube y en entornos locales para ayudar a las
                  empresas a extraer información valiosa de sus datos
                </p>
              </section>
            </section>
            <!-- End Service Item -->

            <section
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <section class="service-item position-relative">
                <section class="icon">
                  <i class="bi bi-bounding-box-circles"></i>
                </section>
                <a href="service-details.html" class="stretched-link">
                  <h3>Oracle AI y Machine Learning</h3>
                </a>
                <p>
                  Oracle está impulsando el uso de inteligencia artificial (IA)
                  y machine learning (ML) en su plataforma en la nube
                </p>
                <a href="service-details.html" class="stretched-link"></a>
              </section>
            </section>
            <!-- End Service Item -->

            <section
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="500"
            >
              <section class="service-item position-relative">
                <section class="icon">
                  <i class="bi bi-calendar4-week"></i>
                </section>
                <a href="service-details.html" class="stretched-link">
                  <h3>Oracle Blockchain</h3>
                </a>
                <p>
                  Oracle ofrece una plataforma de blockchain como servicio
                  (BaaS) que permite a las empresas construir y gestionar redes
                  de blockchain de manera segura y escalable
                </p>
                <a href="service-details.html" class="stretched-link"></a>
              </section>
            </section>
            <!-- End Service Item -->

            <section
              class="col-lg-4 col-md-6"
              data-aos="fade-up"
              data-aos-delay="600"
            >
              <section class="service-item position-relative">
                <section class="icon">
                  <i class="bi bi-chat-square-text"></i>
                </section>
                <a href="service-details.html" class="stretched-link">
                  <h3>Oracle Security Services</h3>
                </a>
                <p>
                  Oracle pone un fuerte énfasis en la seguridad, tanto en sus
                  servicios en la nube como en sus productos on-premise.
                </p>
                <a href="service-details.html" class="stretched-link"></a>
              </section>
            </section>
            <!-- End Service Item -->
          </section>
        </section>
      </section>
      <!-- /Services Section -->

      <!-- Testimonials Section -->
      <section id="testimonials" class="testimonials section light-background">
        <!-- Section Title -->
        <section class="container section-title" data-aos="fade-up">
          <h2>Testimonios de nuestros clientes</h2>
          <p>
            Oracle tiene una gran cantidad de testimonios de clientes que
            reflejan cómo sus soluciones tecnológicas han transformado sus
            negocios en sectionersas industrias.
          </p>
        </section>
        <!-- End Section Title -->

        <section class="container" data-aos="fade-up" data-aos-delay="100" style="overflow: none !important;">
          <section class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
              {
                "loop": true,
                "speed": 600,
                "autoplay": {
                  "delay": 5000
                },
                "slidesPerView": "auto",
                "pagination": {
                  "el": ".swiper-pagination",
                  "type": "bullets",
                  "clickable": true
                },
                "breakpoints": {
                  "320": {
                    "slidesPerView": 1,
                    "spaceBetween": 40
                  },
                  "1200": {
                    "slidesPerView": 3,
                    "spaceBetween": 10
                  }
                }
              }
            </script>
            <section class="swiper-wrapper">
              <section class="swiper-slide">
                <section class="testimonial-item">
                  <h3>Brian J. Sweeney</h3>
                  <h4>
                    Vicepresidente Senior de Tecnología Global y Arquitectura de
                    FedEx.
                  </h4>
                  <section class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </section>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >La adopción de Oracle Cloud nos ha permitido ser más
                      ágiles, ofrecer un servicio más rápido a nuestros clientes
                      y operar de manera más eficiente a escala global. La
                      capacidad de Oracle Cloud para manejar grandes volúmenes
                      de datos en tiempo real ha sido crucial para nuestra
                      operación logística.
                    </span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </section>
              </section>
              <!-- End testimonial item -->

              <section class="swiper-slide">
                <section class="testimonial-item">
                  <h3>Matthew Swindells</h3>
                  <h4>Director de Transformación de NHS Digital.</h4>
                  <section class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </section>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Oracle ha sido un socio clave en la transformación
                      digital de NHS Digital. Al utilizar Oracle Cloud, hemos
                      mejorado significativamente nuestra capacidad para ofrecer
                      servicios de salud de alta calidad y disponibles en todo
                      el país. Además, la plataforma proporciona una base
                      robusta para manejar los grandes volúmenes de datos
                      médicos de manera segura.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </section>
              </section>
              <!-- End testimonial item -->

              <section class="swiper-slide">
                <section class="testimonial-item">
                  <h3>Robert O’Brien</h3>
                  <h4>
                    Director de Innovación Industrial de General Electric.
                  </h4>
                  <section class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </section>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Oracle IoT Cloud nos ha permitido conectar nuestros
                      activos de manera más efectiva, proporcionando datos en
                      tiempo real sobre el rendimiento de nuestros equipos. Esto
                      ha mejorado nuestra capacidad de mantener nuestras
                      operaciones en marcha sin interrupciones y ha aumentado la
                      eficiencia de nuestra producción.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </section>
              </section>
              <!-- End testimonial item -->

              <section class="swiper-slide">
                <section class="testimonial-item">
                  <h3>Kurt L. Weidman</h3>
                  <h4>Director de Tecnología Global de Coca-Cola.</h4>
                  <section class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </section>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Oracle ERP Cloud ha transformado la forma en que operamos
                      a nivel global, proporcionando visibilidad y control sobre
                      nuestras finanzas, cadena de suministro y gestión de
                      inventarios. Ahora tenemos un sistema más ágil que se
                      adapta a las necesidades de nuestro negocio en constante
                      cambio.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </section>
              </section>
              <!-- End testimonial item -->

              <section class="swiper-slide">
                <section class="testimonial-item">
                  <h3>Jong-seok Lee</h3>
                  <h4>
                    Director de Operaciones Globales de Samsung Electronics.
                  </h4>
                  <section class="stars">
                    <i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i
                    ><i class="bi bi-star-fill"></i>
                  </section>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span
                      >Oracle ha sido fundamental para ayudarnos a agilizar la
                      gestión de nuestra cadena de suministro global. Su
                      plataforma nos ha permitido tomar decisiones más rápidas y
                      precisas, lo que mejora la eficiencia operativa y reduce
                      los costos.</span
                    >
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </section>
              </section>
              <!-- End testimonial item -->
            </section>
            <section class="swiper-pagination"></section>
          </section>
        </section>
      </section>
      <!-- /Testimonials Section -->

      <!-- Contact Section -->
      <section id="contact" class="contact section" style="margin: 60px 0 !important;">
        <!-- Section Title -->
        <section class="container section-title" data-aos="fade-up">
          <h2>Contacto</h2>
          <p>
            Para ponerte en contacto con Oracle, puedes hacerlo a través de
            varias vías.
          </p>
        </section>
        <!-- End Section Title -->

        <section
          class="container position-relative"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <section class="row gy-4">
            <section class="col-lg-5">
              <section
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <section>
                  <h3>Dirección</h3>
                  <p>
                    Av. El Derby 055 Piso 5 Of. 502 Centro de Negocios Cronos
                    Torre 1 Santiago de Surco Lima 33, Perú
                  </p>
                </section>
              </section>
              <!-- End Info Item -->

              <section
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="bi bi-telephone flex-shrink-0"></i>
                <section>
                  <h3>Llamanos</h3>
                  <p>+51 1 615 1047</p>
                </section>
              </section>
              <!-- End Info Item -->

              <section
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <i class="bi bi-envelope flex-shrink-0"></i>
                <section>
                  <h3>Correo</h3>
                  <p>oracle.peru@outlook.com</p>
                </section>
              </section>
              <!-- End Info Item -->
            </section>

            <section class="col-lg-7">
              <form
                method="post"
                class="php-email-form"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <section class="row gy-4">
                  <section class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Su nombre"
                      required=""
                    />
                  </section>

                  <section class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Su correo"
                      required=""
                    />
                  </section>

                  <section class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Asunto"
                      required=""
                    />
                  </section>

                  <section class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Mensaje"
                      required=""
                    ></textarea>
                  </section>

                  <section class="col-md-12 text-center">
                    <button type="submit">Enviar</button>
                  </section>
                </section>
              </form>
            </section>
            <!-- End Contact Form -->
          </section>
        </section>
      </section>
      <!-- /Contact Section -->
    </main>

    <footer id="footer" class="footer light-background">
      <section class="container footer-top">
        <section class="row gy-4">
          <section class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Oracle</span>
            </a>
            <p>
              Oracle apoya a organizaciones de todos los tamaños a mejorar la
              eficiencia, la innovación y la toma de decisiones basadas en
              datos. Fundada en 1977.
            </p>
            <section class="social-links d-flex mt-4">
              <a href="https://x.com/oracle?lang=es"><i class="bi bi-twitter-x"></i></a>
              <a href="https://www.facebook.com/Oracle"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/oracle/"><i class="bi bi-instagram"></i></a>
              <a href="https://pe.linkedin.com/company/oracle"><i class="bi bi-linkedin"></i></a>
            </section>
          </section>

          <section class="col-lg-2 col-6 footer-links">
            <h4>Compañia</h4>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="../templates/aboutUs.html">Quienes somos</a></li>
              <li><a href="../templates/resources.html">Recursos</a></li>
              <li><a href="../templates/news.html">Noticias</a></li>
              <li><a href="../templates/employees.html">Empleos</a></li>
              <li><a href="../templates/social-impact.html">Impacto Social</a></li>
            </ul>
          </section>

          <section class="col-lg-2 col-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Security Services</a
                >
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Blockchain</a
                >
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/">Oracle AI</a>
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Database Services</a
                >
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Analytics</a
                >
              </li>
            </ul>
          </section>

          <section
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contactanos</h4>
            <p>Av. El Derby 055 Piso 5 Of. 502</p>
            <p>Centro de Negocios Cronos Torre 1</p>
            <p>Lima, Perú</p>
            <p class="mt-4">
              <strong>Teléfono:</strong> <span>+51 1 615 1047</span>
            </p>
            <p><strong>Correo:</strong> <span>oracle.peru@gmail.com</span></p>
          </section>
        </section>
      </section>

      <section class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">Oracle 2024</strong>
          <span>Todos los derechos reservados</span>
        </p>
      </section>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <section id="preloader"></section>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- PHP Email Form Validation -->
    <script src="https://cdn.jsdelivr.net/gh/twbs/form-validation@1.0.0/validate.min.js"></script>
    <!-- Asegúrate de verificar si este es el correcto o una alternativa -->

    <!-- AOS (Animate on Scroll) -->
    <script src="https://cdn.jsdelivr.net/npm/aos@3.0.0-beta.6/dist/aos.js"></script>

    <!-- Waypoints -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>

    <!-- PureCounter -->
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.5.0/dist/purecounter_vanilla.js"></script>

    <!-- GLightbox -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js"></script>

    <!-- ImagesLoaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>

    <!-- Isotope Layout -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>

    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10.2.0/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="../static/js/aboutUs.js"></script>
  </body>
</html>
