<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/employees.less" />
    <link
      rel="stylesheet"
      href="https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro"
    />    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" href="imagen/logoriot.png" />
    <title>Empleo | Riot</title>
  </head>
  <body>
    <header>
      <nav>
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <ul class="nav-links">
          <li><a href="/templates/aboutUs.html">QUIÉNES SOMOS</a></li>
          <li>
            <a href="/templates/riotOffices.html">TRABAJA CON NOSOTROS</a>
          </li>
          <li><a href="templates/news.html">NOTICIAS</a></li>
          <li><a href="/templates/diversity.html">DIVERSIDAD</a></li>
          <li><a href="/templates/socialImpact.html">IMPACTO</a></li>
        </ul>
        <section class="nav-right">
          <select class="language-select">
            <option value="es">ES</option>
            <option value="en">EN</option>
          </select>
          <article class="search-container">
            <input type="text" placeholder="BUSCAR" />
            <i class="fas fa-search"></i>
          </article>
          <button class="login-btn">INICIAR SESIÓN</button>
        </section>
        <section class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </section>
      </nav>
    </header>

    <section class="port">
      <h1 class="title">Trabaja con Nosotros</h1>
    </section>

    <article class="container">
      <section class="job-section">
        <h2 class="section-title1" id="title">RIOT</h2>
        <h2 class="section-title">
          Únete a Riot para forjar tu camino y crear experiencias inolvidables
          para los jugadores
        </h2>
        <section class="job-list" class="text-bg-secondary">
          <article class="profesion">
            <strong>Ingeniero de Software</strong>
            <p>Ubicación: Los Ángeles, USA</p>
            <section class="job1"></section>
            <button type="button" class="btn btn-outline-success "><span>Mas informacion</span></button>
          </article>
          <article class="profesion2">
            <strong>Artista 3D</strong>
            <p>Ubicación: Berlín, Alemania</p>
            <section class="job2"></section>
            <button type="button" class="btn btn-outline-success"><span>Mas informacion</span></button>
          </article>

          <article class="profesion3" >
            <strong>Productora de juegos</strong>
            <p>Ubicación: Shanghái, China</p>
            <section class="job3"></section>
            <button type="button" class="btn btn-outline-success"><span>Mas informacion</span></button>
          </article>
        </section>
      </section>
    </article>
    <article class="oficinas" class="container text-center">
      <h2 class="section-title2">oficinas</h2>
      <section class="offices">
        <section class="Spain">
          <p class="off">Barcelona, España</p>
          <section id="offices1"></section>
        </section>
        <section class="Mexico">
          <p class="off">Ciudad de Mexico, Mexico</p>
          <section id="offices2"></section>
        </section>
        <section class="USA">
          <p class="off">Los Angeles, USA</p>
          <section id="offices3"></section>
        </section>
      </section>
    </article>

    <!-- Footer -->
    <footer>
      <section class="footer-content" >
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <article class="footer-links">
          <ul>
            <li>
              <a href="./aboutUs.html">Acerca de Riot Games</a>
            </li>
            <li>
              <a href="./lifeInRitot.html">Vida en Riot Games</a>
            </li>
            <li>
              <a href="./socialImpact.html">Impacto social</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="./employees.html">Empleos</a>
            </li>
            <li>
              <a href="./riotOffices.html">Oficinas</a>
            </li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Esports</a></li>
          </ul>
        </article>
        <article class="social-media">
          <a href="https://www.facebook.com/RiotGames/"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://twitter.com/riotgames"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/riotgames/"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/riotgames"
            ><i class="fab fa-youtube"></i
          ></a>
        </article>
      </section>
      <section class="footer-bottom">
        <p>&copy; 2024 Riot Games, Inc. Todos los derechos reservados.</p>
        <ul>
          <li>
            <a href="https://www.riotgames.com/es/privacy-notice-ES"
              >Política de privacidad</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/terms-of-service-ES"
              >Términos de servicio</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/asistencia-al-jugador"
              >Asitencia al juador</a
            >
          </li>
        </ul>
      </section>
    </footer>
    <script src="../main.js"></script>
  </body>
</html>
