<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/lifeInRiot.less" />
    <script
      src="https://cdn.jsdelivr.net/npm/less@4.1.1/dist/less.min.js"
      type="text/javascript"
    ></script>
    <link
      rel="stylesheet"
      href="https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro"
    />
    <title>Vida de Riot</title>
  </head>
  <body>
    <header class="main-header">
      <nav>
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <ul class="nav-links">
          <li><a href="/templates/aboutUs.html">QUIÉNES SOMOS</a></li>
          <li>
            <a href="/templates/riotOffices.html">TRABAJA CON NOSOTROS</a>
          </li>
          <li><a href="templates/news.html">NOTICIAS</a></li>
          <li><a href="/templates/diversity.html">DIVERSIDAD</a></li>
          <li><a href="/templates/socialImpact.html">IMPACTO</a></li>
        </ul>
        <section class="nav-right">
          <select class="language-select">
            <option value="es">ES</option>
            <option value="en">EN</option>
          </select>
          <article class="search-container">
            <input type="text" placeholder="BUSCAR" />
            <i class="fas fa-search"></i>
          </article>
          <button class="login-btn">INICIAR SESIÓN</button>
        </section>
        <section class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </section>
      </nav>
    </header>

    <section class="riot">
      <header class="riot-content container">
        <h2>Nuestra Cultura</h2>
        <p>
          En Riot valoramos la pasión, la integridad y el compromiso. Creemos en
          un entorno donde cada uno pueda ser auténtico y donde las ideas
          innovadoras florecen.
        </p>
      </header>
      <article class="riot-group">
        <section class="riot-item">
          <figure class="riot-image"></figure>
          <h3>Trabajo en Equipo</h3>
          <p>
            En Riot, el trabajo colaborativo es clave para lograr nuestros
            objetivos.
          </p>
        </section>
        <section class="riot-item">
          <figure class="riot-image"></figure>
          <h3>Creatividad</h3>
          <p>
            Nuestros equipos de diseño y desarrollo son apasionados por crear
            experiencias inmersivas.
          </p>
        </section>
        <section class="riot-item">
          <figure class="riot-image"></figure>
          <h3>Innovación</h3>
          <p>Buscamos siempre estar a la vanguardia en tecnología y juegos.</p>
        </section>
      </article>
    </section>

    <section class="beneficios">
      <header class="beneficios-content container">
        <h2>Te tenemos cubierto</h2>
      </header>
      <article class="beneficios-group">
        <section class="beneficio-item">
          <figure class="beneficio-image"></figure>
          <h3>Cuidado de la salud</h3>
        </section>
        <section class="beneficio-item">
          <figure class="beneficio-image"></figure>
          <h3>Tiempo libre remunerado abierto</h3>
        </section>
        <section class="beneficio-item">
          <figure class="beneficio-image"></figure>
          <h3>Donación equivalente</h3>
        </section>
      </article>
      <p>
        En Riot Games, cuidamos de nuestro equipo con un paquete de beneficios
        integral que promueve el bienestar y el crecimiento.
      </p>
    </section>

    <footer>
      <section class="footer-content">
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <article class="footer-links">
          <ul>
            <li>
              <a href="./templates/aboutUs.html">Acerca de Riot Games</a>
            </li>
            <li>
              <a href="./templates/lifeInRitot.html">Vida en Riot Games</a>
            </li>
            <li>
              <a href="./templates/socialImpact.html">Impacto social</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="./templates/employees.html">Empleos</a>
            </li>
            <li>
              <a
                href="https://www.riotgames.com/es/trabaja-con-nosotros/oficinas"
                >Oficinas</a
              >
            </li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Esports</a></li>
          </ul>
        </article>
        <article class="social-media">
          <a href="https://www.facebook.com/RiotGames/"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://twitter.com/riotgames"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/riotgames/"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/riotgames"
            ><i class="fab fa-youtube"></i
          ></a>
        </article>
      </section>
      <section class="footer-bottom">
        <p>&copy; 2024 Riot Games, Inc. Todos los derechos reservados.</p>
        <ul>
          <li>
            <a href="https://www.riotgames.com/es/privacy-notice-ES"
              >Política de privacidad</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/terms-of-service-ES"
              >Términos de servicio</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/asistencia-al-jugador"
              >Asitencia al juador</a
            >
          </li>
        </ul>
      </section>
    </footer>

    <script src="../main.js"></script>
  </body>
</html>
