<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Noticias</title>
    <link rel="stylesheet" type="text/css" href="../static/css/news.less" />
    <link
      rel="stylesheet"
      href="https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro"
    />
  </head>

  <body>
    <header>
      <nav>
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <ul class="nav-links">
          <li><a href="/templates/aboutUs.html">QUIÉNES SOMOS</a></li>
          <li>
            <a href="/templates/riotOffices.html">TRABAJA CON NOSOTROS</a>
          </li>
          <li><a href="templates/news.html">NOTICIAS</a></li>
          <li><a href="/templates/diversity.html">DIVERSIDAD</a></li>
          <li><a href="/templates/socialImpact.html">IMPACTO</a></li>
        </ul>
        <section class="nav-right">
          <select class="language-select">
            <option value="es">ES</option>
            <option value="en">EN</option>
          </select>
          <article class="search-container">
            <input type="text" placeholder="BUSCAR" />
            <i class="fas fa-search"></i>
          </article>
          <button class="login-btn">INICIAR SESIÓN</button>
        </section>
        <section class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </section>
      </nav>
    </header>

    <nav class="fondoPadre">
      <section style="background-color: #2a2a2a">
        <br />
        <h1 class="letrasLindas">Nuevas armas para la comunidad</h1>
        <br />
      </section>

      <section
        class="contenedorTarjetas fondo"
        style="background-color: #2a2a2a"
      >
        <nav class="galeria">
          <article class="flip-card">
            <section class="flip-card-inner">
              <section class="flip-card-front">
                <figure class="imagenParaContenedor1"></figure>
              </section>
              <section class="flip-card-back">
                <figure class="imagenParaContenedor1-1"></figure>
              </section>
            </section>
          </article>
          <article class="flip-card">
            <section class="flip-card-inner">
              <section class="flip-card-front">
                <figure class="imagenParaContenedor2"></figure>
              </section>
              <section class="flip-card-back">
                <figure class="imagenParaContenedor2-1"></figure>
              </section>
            </section>
          </article>
          <article class="flip-card">
            <section class="flip-card-inner">
              <section class="flip-card-front">
                <figure class="imagenParaContenedor3"></figure>
              </section>
              <section class="flip-card-back">
                <figure class="imagenParaContenedor3-1"></figure>
              </section>
            </section>
          </article>
          <article class="flip-card">
            <section class="flip-card-inner">
              <section class="flip-card-front">
                <figure class="imagenParaContenedor4"></figure>
              </section>
              <section class="flip-card-back">
                <figure class="imagenParaContenedor4-1"></figure>
              </section>
            </section>
          </article>
        </nav>
      </section>

      <section class="hero-section">
        <header class="hero-content">
          <h1>Novedades en el mundo de Valorant</h1>
          <p>
            Descubre las últimas actualizaciones, nuevos agentes y estrategias
            de juego. Mantente al tanto de lo que viene en el universo de
            Valorant.
          </p>
          <nav>
            <a href="#" class="cta-button">Leer más</a>
          </nav>
        </header>
      </section>

      <!-- Sección de noticias destacadas -->
      <section class="news-section">
        <h2>Noticias Destacadas</h2>
        <section class="news-grid">
          <section class="news-carousel">
            <figure class="carousel-track">
              <article class="news-card">
                <figure class="imagenNoticia1">
                  <figcaption class="textoCentrado">Actualización</figcaption>
                </figure>
                <header>
                  <h3 class="textoCentrado">
                    Nueva actualización del parche 3.0
                  </h3>
                </header>
                <p class="textoCentrado" style="margin-bottom: 40px">
                  El último parche trae mejoras en el balance de los agentes y
                  nuevas características en el mapa Breeze.
                </p>

                <nav>
                  <a href="#">Leer más</a>
                </nav>
              </article>

              <!-- Tarjeta de noticia 2 -->
              <article class="news-card">
                <figure class="imagenNoticia2">
                  <figcaption class="textoCentrado">
                    Evento Competitivo
                  </figcaption>
                </figure>
                <header>
                  <h3 class="textoCentrado">Evento Competitivo de Clanes</h3>
                </header>
                <p class="textoCentrado" style="margin-bottom: 40px">
                  Se acerca el gran torneo de clanes, donde los mejores equipos
                  lucharán por recompensas exclusivas.
                </p>
                <nav>
                  <a href="#">Leer más</a>
                </nav>
              </article>

              <!-- Tarjeta de noticia 3 -->
              <article class="news-card">
                <figure class="imagenNoticia3">
                  <figcaption class="textoCentrado">Sombra</figcaption>
                </figure>
                <header>
                  <h3 class="textoCentrado">Sombra: El Nuevo Agente</h3>
                </header>
                <p class="textoCentrado" style="margin-bottom: 40px">
                  Descubre las habilidades del nuevo agente Sombra, experto en
                  sigilo y control de áreas.
                </p>
                <nav>
                  <a href="#">Leer más</a>
                </nav>
              </article>
            </figure>
          </section>
        </section>
      </section>
    </nav>

    <!-- Footer -->
    <footer>
      <section class="footer-content">
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <article class="footer-links">
          <ul>
            <li>
              <a href="https://www.riotgames.com/es/quienes-somos"
                >Acerca de Riot Games</a
              >
            </li>
            <li>
              <a href="./lifeInRitot.html">Vida en Riot Games</a>
            </li>
            <li>
              <a href="./socialImpact.html">Impacto social</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="./employees.html">Empleos</a>
            </li>
            <li>
              <a href="./riotOffices.html">Oficinas</a>
            </li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Esports</a></li>
          </ul>
        </article>
        <article class="social-media">
          <a href="https://www.facebook.com/RiotGames/"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://twitter.com/riotgames"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/riotgames/"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/riotgames"
            ><i class="fab fa-youtube"></i
          ></a>
        </article>
      </section>
      <section class="footer-bottom">
        <p>&copy; 2024 Riot Games, Inc. Todos los derechos reservados.</p>
        <ul>
          <li>
            <a href="https://www.riotgames.com/es/privacy-notice-ES"
              >Política de privacidad</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/terms-of-service-ES"
              >Términos de servicio</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/asistencia-al-jugador"
              >Asitencia al juador</a
            >
          </li>
        </ul>
      </section>
    </footer>

    <script src="../main.js"></script>
  </body>
</html>
