<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oracle Recursos</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link href="../static/css/resources.css" rel="stylesheet" />
    <link href="../static/css/principal.css" rel="stylesheet" />
</head>
<body>
    <header id="header" class="header d-flex align-items-center sticky-top">
        <section
          class="container-fluid position-relative d-flex align-items-center justify-content-between"
        >
          <a
            href="index.html"
            class="logo d-flex align-items-center me-auto me-xl-0"
          >
            <figure class="logo-header"></figure>
          </a>
  
          <nav id="navmenu" class="navmenu">
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li>
                <a href="../templates/aboutUs.html">Quienes somos</a>
              </li>
              <li><a href="../templates/resources.html">Recursos</a></li>
              <li><a href="../templates/news.html">Noticias</a></li>
              <li><a href="../templates/employees.html">Empleos</a></li>
              <li>
                <a href="../templates/social-impact.html" class="active"
                  >Impacto social</a
                >
              </li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
  
          <section class="header-social-links">
            <a href="https://x.com/oracle?lang=es" class="twitter"
              ><i class="bi bi-twitter-x"></i
            ></a>
            <a href="https://www.facebook.com/Oracle" class="facebook"
              ><i class="bi bi-facebook"></i
            ></a>
            <a href="https://www.instagram.com/oracle/" class="instagram"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://pe.linkedin.com/company/oracle" class="linkedin"
              ><i class="bi bi-linkedin"></i
            ></a>
          </section>
        </section>
      </header>

      <section class="knowledge">
        <h2 class="subtitle">Recursos de aplicaciones</h2>
        <p class="knowledge__paragraph">Aprovecha los siguientes recursos para explorar
            más a fondo Oracle Cloud Apllications. Específicamente, puedes acceder a información
            sobre nuevas funciones, documentación de productos, capacitación en aplicaciones
            comunidad de clientes en la nube y recorridos de productos a su propio ritmo.
        </p>
        <a href="../templates/aboutUs.html" class="cta">Inicio</a>
    </section>
    

    <section class="card">
        <article class="card__perfil">
            <header class="card__nombre">
                <div class="circle"></div>
                <h2>Preparación de la</h2>
                <p>nube/Novedades</p>
            </header>
            <hr>
            <section class="card__descripcion">
                <p>Accede a diversos activos de "preparación" que te ayudan a prepararte para tu próxima actualización. Aprovecha los documentos,
                    videos y capacitación online para conocer las nuevas funciones.</p>
            </section>
            <hr>
            <footer class="card__button">
                <a class="enlace" href="https://www.oracle.com/webfolder/technetwork/tutorials/tutorial/readiness/offering/index.html?product=financials-21&language=es-xl">Saber más</a>
            </footer>
        </article>
    
        <article class="card__perfil">
            <header class="card__nombre">
                <div class="circle"></div>
                <h2>Comunidad de</h2>
                <p>Clientes</p>
            </header>
            <hr>
            <section class="card__descripcion">
                <p>Únete a la principal comunidad en la nube online de Oracle, diseñada específicamente para promover la colaboración
                    entre compañeros y el intercambio de mejores prácticas, permitir que los miembros realicen un seguimiento de la 
                    estrategia del producto y proporcionar un canal de comentarios de la solución en la nube directamente con el 
                    departamento de desarrollo de Oracle.</p>
            </section>
            <hr>
            <footer class="card__button">
                <a class="enlace" href="https://community.oracle.com/customerconnect/">Saber más</a>
            </footer>
        </article>
    
        <article class="card__perfil">
            <header class="card__nombre">
                <div class="circle"></div>
                <h2>Recorridos de </h2>
                <p>Productos</p>
            </header>
            <hr>
            <section class="card__descripcion">
                <p>Mira presentaciones de descripción general del producto que incorporan posicionamiento del producto,
                    declaraciones de beneficios clave y capturas de pantalla de la interfaz de usuario del producto.</p>
            </section>
            <hr>
            <footer class="card__button">
                <a class="enlace" href="https://www.oracle.com/pe/product-tours/">Saber más</a>
            </footer>
        </article>
    </section>
    
    <section class="testimony">
      <section class="testimony__container">
        <!-- Flecha izquierda -->
        <img src="https://img.icons8.com/ios/452/left.png" alt="Flecha izquierda" class="testimony__arrow" id="before">
    
        <!-- Imágenes del slider -->
        <section class="testimony__body testimony__body--show" data-id="1"></section>
        <section class="testimony__body" data-id="2"></section>
        <section class="testimony__body" data-id="3"></section>
        <section class="testimony__body" data-id="4"></section>
    
        <!-- Flecha derecha -->
        <img src="https://img.icons8.com/ios/452/right.png" alt="Flecha derecha" class="testimony__arrow" id="next">
      </section>
    </section>
    
      <footer id="footer" class="footer light-background">
        <section class="container footer-top">
          <section class="row gy-4">
            <section class="col-lg-5 col-md-12 footer-about">
              <a href="index.html" class="logo d-flex align-items-center">
                <span class="sitename">Oracle</span>
              </a>
              <p>
                Oracle apoya a organizaciones de todos los tamaños a mejorar la
                eficiencia, la innovación y la toma de decisiones basadas en
                datos. Fundada en 1977.
              </p>
              <section class="social-links d-flex mt-4">
                <a href="https://x.com/oracle?lang=es"
                  ><i class="bi bi-twitter-x"></i
                ></a>
                <a href="https://www.facebook.com/Oracle"
                  ><i class="bi bi-facebook"></i
                ></a>
                <a href="https://www.instagram.com/oracle/"
                  ><i class="bi bi-instagram"></i
                ></a>
                <a href="https://pe.linkedin.com/company/oracle"
                  ><i class="bi bi-linkedin"></i
                ></a>
              </section>
            </section>
  
            <section class="col-lg-2 col-6 footer-links">
              <h4>Compañia</h4>
              <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="../templates/aboutUs.html">Quienes somos</a></li>
                <li><a href="../templates/resources.html">Recursos</a></li>
                <li><a href="../templates/news.html">Noticias</a></li>
                <li><a href="../templates/employees.html">Empleos</a></li>
                <li>
                  <a href="../templates/social-impact.html">Impacto Social</a>
                </li>
              </ul>
            </section>
  
            <section class="col-lg-2 col-6 footer-links">
              <h4>Nuestros Servicios</h4>
              <ul>
                <li>
                  <a href="https://www.oracle.com/customer-success/"
                    >Oracle Security Services</a
                  >
                </li>
                <li>
                  <a href="https://www.oracle.com/customer-success/"
                    >Oracle Blockchain</a
                  >
                </li>
                <li>
                  <a href="https://www.oracle.com/customer-success/">Oracle AI</a>
                </li>
                <li>
                  <a href="https://www.oracle.com/customer-success/"
                    >Oracle Database Services</a
                  >
                </li>
                <li>
                  <a href="https://www.oracle.com/customer-success/"
                    >Oracle Analytics</a
                  >
                </li>
              </ul>
            </section>
  
            <section
              class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
            >
              <h4>Contactanos</h4>
              <p>Av. El Derby 055 Piso 5 Of. 502</p>
              <p>Centro de Negocios Cronos Torre 1</p>
              <p>Lima, Perú</p>
              <p class="mt-4">
                <strong>Teléfono:</strong> <span>+51 1 615 1047</span>
              </p>
              <p><strong>Correo:</strong> <span>oracle.peru@gmail.com</span></p>
            </section>
          </section>
        </section>
  
        <section class="container copyright text-center mt-4">
          <p>
            © <span>Copyright</span>
            <strong class="px-1 sitename">Oracle 2024</strong>
            <span>Todos los derechos reservados</span>
          </p>
        </section>
      </footer>
      <script src="../static/js/resources.js"></script>
</body>
</html>