<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Impacto Social | Riot Games</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../static/css/social-impact.less"
    />
    <link
      rel="stylesheet"
      href="https://db.onlinewebfonts.com/c/7200c6dd8ac604abe09f5159e53a40c0?family=Mark+Pro"
    />
  </head>
  <body>
    <header>
      <nav>
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <ul class="nav-links">
          <li><a href="/templates/aboutUs.html">QUIÉNES SOMOS</a></li>
          <li>
            <a href="/templates/riotOffices.html">TRABAJA CON NOSOTROS</a>
          </li>
          <li><a href="templates/news.html">NOTICIAS</a></li>
          <li><a href="/templates/diversity.html">DIVERSIDAD</a></li>
          <li><a href="/templates/socialImpact.html">IMPACTO</a></li>
        </ul>
        <section class="nav-right">
          <select class="language-select">
            <option value="es">ES</option>
            <option value="en">EN</option>
          </select>
          <article class="search-container">
            <input type="text" placeholder="BUSCAR" />
            <i class="fas fa-search"></i>
          </article>
          <button class="login-btn">INICIAR SESIÓN</button>
        </section>
        <section class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </section>
      </nav>
    </header>

    <article>
      <hgroup class="portada">
        <figure class="img-portada"></figure>
        <section class="content-portada">
          <section class="eyebrow">
            <span>Subimos de nivel nuestro</span>
          </section>
          <h1>Impacto Social</h1>
          <p>Creamos un impacto social positivo y duradero en el mundo</p>
        </section>
      </hgroup>
      <section class="muchotexto">
        <section class="content-muchotexto">
          <h2>
            "Como empresa centrada en los jugadores, nuestro deseo es crear
            experiencias de juego relevantes y ayudar a mejorar el mundo en el
            que vivimos apoyando e invirtiendo en las comunidades de las que
            formamos parte".
          </h2>
          <p>
            Hemos fundado Riot con la creencia de que una empresa de gamers
            dedicada a fondo a los jugadores podría proveer experiencias de
            juego memorables. Creemos que cualquiera que tenga pasión, visión y
            perseverancia puede contribuir de manera positiva. Como parte de ese
            carácter distintivo, creemos que hay formas en las que nosotros como
            empresa podemos proporcionar valor a largo plazo, así como ejercer
            un impacto positivo en los jugadores, asociados, empleados y las
            comunidades en las que nos implicamos.
          </p>
          <p>
            Mediante nuestro impacto social, tenemos la esperanza de construir
            un mundo más positivo para los jugadores y nuestras comunidades. A
            través de nuestros programas de impacto social, esperamos contribuir
            de forma positiva a las causas que más preocupan a los jugadores y
            nuestras comunidades. Los programas actuales se centran en cuatro
            pilares distintos:
          </p>
        </section>
      </section>
      <section class="pilares">
        <section class="content-pilares">
          <section class="pilar-edu">
            <figure class="img-educacion"></figure>
            <section class="eyebrow-grid">
              <span>1</span>
            </section>
            <h3>Educación</h3>
            <p>
              Expandir el acceso a la educación de STEAM (ciencia, tecnología,
              ingeniería, arte y matemáticas, por sus siglas en inglés) y al
              aprendizaje socioemocional para preparar a los estudiantes de cara
              a sus trabajos en la economía del futuro.
            </p>
          </section>
          <section class="pilar-ciud">
            <figure class="img-ciudadania"></figure>
            <section class="eyebrow-grid">
              <span>2</span>
            </section>
            <h3>Ciudadanía</h3>
            <p>
              Fomentar, crear y proteger comunidades inclusivas y compasivas
              tanto en persona como en línea.
            </p>
          </section>
          <section class="pilar-oport">
            <figure class="img-oportunidades"></figure>
            <section class="eyebrow-grid">
              <span>3</span>
            </section>
            <h3>Oportunidades</h3>
            <p>
              Apoyar a personas de todo tipo de entornos para que vivan sus
              vidas de forma justa, sana y feliz, de tal modo que puedan dar
              rienda suelta a su potencial.
            </p>
          </section>
          <section class="pilar-sost">
            <figure class="img-sostenibilidad"></figure>
            <section class="eyebrow-grid">
              <span>4</span>
            </section>
            <h3>Sostenibilidad</h3>
            <p>
              Limitar nuestro impacto en el cambio climático y gestionar
              nuestras actividades comerciales de formas sostenibles.
            </p>
          </section>
        </section>
      </section>
      <section class="tittle-iniciativas">
        <h2>Nuestras Iniciativas</h2>
      </section>
      <section class="iniciativas">
        <section class="carrusel-iniciativas" id="slider">
          <section class="slider-section">
            <figure class="img-socialimpactfund"></figure>
            <section class="content-slider">
              <h3><span>Social Impact Fund</span></h3>
              <section class="btn-slider">
                <a href="#"><span>Más información</span></a>
              </section>
            </section>
          </section>
          <section class="slider-section">
            <figure class="img-recaudaciones"></figure>
            <section class="content-slider">
              <h3><span>Recaudaciones</span></h3>
              <section class="btn-slider">
                <a href="#"><span>Más información</span></a>
              </section>
            </section>
          </section>
          <section class="slider-section">
            <figure class="img-equidadracial"></figure>
            <section class="content-slider">
              <h3><span>Equidad racial</span></h3>
              <section class="btn-slider">
                <a href="#"><span>Más información</span></a>
              </section>
            </section>
          </section>
        </section>
        <section class="btn-left">asdas</section>
        <section class="btn-right">asda</section>
      </section>
      <section class="Premios">
        <h3>Premios y reconocimientos</h3>
        <ul>
          <li>
            <p>Social Impact Awards de PR News: CSR Team of the Year (2022)</p>
          </li>
          <li>
            <p>
              Mención en la lista World Changing Ideas de Fast Company en la
              categoría de responsabilidad social corporativa por la campaña de
              impacto social Centinelas de la Luz (2022)
            </p>
          </li>
          <li>
            <p>Best Consumer Donation Initiative de Engage for Good (2021)</p>
          </li>
          <li>
            <p>
              Halo Award de Engage for Good por Best Consumer-Activated
              Corporate Donation Campaign (2019)
            </p>
          </li>
        </ul>
      </section>
    </article>

    <!-- Footer -->
    <footer>
      <section class="footer-content">
        <article class="logo">
          <a href="/index.html">
            <svg
              width="90"
              height="30"
              class="logo-svg"
              viewBox="0 0 587.93 165"
            ></svg>
          </a>
        </article>
        <article class="footer-links">
          <ul>
            <li>
              <a href="./aboutUs.html">Acerca de Riot Games</a>
            </li>
            <li>
              <a href="./lifeInRitot.html">Vida en Riot Games</a>
            </li>
            <li>
              <a href="./socialImpact.html">Impacto social</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="./employees.html">Empleos</a>
            </li>
            <li>
              <a
                href="https://www.riotgames.com/es/trabaja-con-nosotros/oficinas"
                >Oficinas</a
              >
            </li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Esports</a></li>
          </ul>
        </article>
        <article class="social-media">
          <a href="https://www.facebook.com/RiotGames/"
            ><i class="fab fa-facebook"></i
          ></a>
          <a href="https://twitter.com/riotgames"
            ><i class="fab fa-twitter"></i
          ></a>
          <a href="https://www.instagram.com/riotgames/"
            ><i class="fab fa-instagram"></i
          ></a>
          <a href="https://www.youtube.com/riotgames"
            ><i class="fab fa-youtube"></i
          ></a>
        </article>
      </section>
      <section class="footer-bottom">
        <p>&copy; 2024 Riot Games, Inc. Todos los derechos reservados.</p>
        <ul>
          <li>
            <a href="https://www.riotgames.com/es/privacy-notice-ES"
              >Política de privacidad</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/terms-of-service-ES"
              >Términos de servicio</a
            >
          </li>
          <li>
            <a href="https://www.riotgames.com/es/asistencia-al-jugador"
              >Asitencia al juador</a
            >
          </li>
        </ul>
      </section>
    </footer>

    <script src="../static/js/impacto-social.js"></script>
    <script src="../main.js"></script>
  </body>
</html>
