<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oracle Social Impact</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/swiper@9.4.1/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <link href="../static/css/social-impact.css" rel="stylesheet" />
    <link href="../static/css/principal.css" rel="stylesheet" />
  </head>

  <body>
    <header id="header" class="header d-flex align-items-center sticky-top">
      <section
        class="container-fluid position-relative d-flex align-items-center justify-content-between"
      >
        <a
          href="index.html"
          class="logo d-flex align-items-center me-auto me-xl-0"
        >
          <figure class="logo-header"></figure>
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="index.html">Inicio</a></li>
            <li>
              <a href="../templates/aboutUs.html" class="active"
                >Quienes somos</a
              >
            </li>
            <li><a href="../templates/resources.html">Recursos</a></li>
            <li><a href="../templates/news.html">Noticias</a></li>
            <li><a href="../templates/employees.html">Empleos</a></li>
            <li>
              <a href="../templates/social-impact.html">Impacto social</a>
            </li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <section class="header-social-links">
          <a href="https://x.com/oracle?lang=es" class="twitter"
            ><i class="bi bi-twitter-x"></i
          ></a>
          <a href="https://www.facebook.com/Oracle" class="facebook"
            ><i class="bi bi-facebook"></i
          ></a>
          <a href="https://www.instagram.com/oracle/" class="instagram"
            ><i class="bi bi-instagram"></i
          ></a>
          <a href="https://pe.linkedin.com/company/oracle" class="linkedin"
            ><i class="bi bi-linkedin"></i
          ></a>
        </section>
      </section>
    </header>

    <main class="container py-5">
      <!-- Initiatives Section -->
      <section class="initiatives mb-5">
        <h2 class="text-center mb-4 substyle">Informe de Impacto Social</h2>
        <ul
          class="nav nav-tabs justify-content-center"
          id="initiativeTabs"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="education-tab"
              data-bs-toggle="tab"
              data-bs-target="#education"
              type="button"
              role="tab"
            >
              Educación y Habilidades
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="sustainability-tab"
              data-bs-toggle="tab"
              data-bs-target="#sustainability"
              type="button"
              role="tab"
            >
              Sostenibilidad
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="community-tab"
              data-bs-toggle="tab"
              data-bs-target="#community"
              type="button"
              role="tab"
            >
              Impacto Comunitario
            </button>
          </li>
        </ul>
        <section class="tab-content" id="initiativeTabsContent">
          <!-- Tab panes for each initiative -->
          <section
            class="tab-pane fade show active"
            id="education"
            role="tabpanel"
          >
            <section class="card shadow-sm sections">
              <figure class="card-img-top img-education"></figure>
              <section class="card-body">
                <h3 class="card-title text-danger">Educación y Habilidades</h3>
                <p class="card-text">
                  Nuestras iniciativas educativas (Oracle Academy y Oracle
                  Education Foundation) ayudan a los estudiantes a desarrollar
                  las habilidades que necesitan para convertirse en innovadores
                  y líderes tecnológicos.
                </p>
                <a href="#" class="btn btn-outline-danger">Learn More</a>
              </section>
            </section>
          </section>
          <!-- Sustainability Tab -->
          <section class="tab-pane fade" id="sustainability" role="tabpanel">
            <section class="card shadow-sm sections">
              <figure class="card-img-top img-sustainability"></figure>
              <section class="card-body">
                <h3 class="card-title text-danger">Sostenibilidad</h3>
                <p class="card-text">
                  En Oracle, sabemos que para garantizar la salud de nuestro
                  planeta es necesario dar pasos valientes y urgentes. Estamos
                  comprometidos a construir un futuro más sostenible y brindar a
                  nuestros profesionales las herramientas oportunas para que
                  hagan lo mismo.
                </p>
                <a href="#" class="btn btn-outline-danger">Learn More</a>
              </section>
            </section>
          </section>
          <!-- Community Impact Tab -->
          <section class="tab-pane fade" id="community" role="tabpanel">
            <section class="card shadow-sm sections">
              <figure class="card-img-top img-community"></figure>
              <section class="card-body">
                <h3 class="card-title text-danger">Impacto Comunitario</h3>
                <p class="card-text">
                  En Oracle, nos dedicamos a generar un impacto positivo global
                  mediante la educación, la sostenibilidad ambiental y la
                  tecnología, apoyando a comunidades con donaciones estratégicas
                  y voluntariado para crear un futuro más inclusivo y
                  sostenible.
                </p>
                <a href="#" class="btn btn-outline-danger">Learn More</a>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="global-impact mb-5">
        <h2 class="text-center mb-4 substyle">Resumen de Impacto Global</h2>
        <section class="row justify-content-center" id="impactStats">
          <section
            class="col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <section
              class="shadow-lg card bg-oracle-red text-white text-center p-4 stat-card"
            >
              <h3 class="display-4 fw-bold">26987</h3>
              <p class="lead">Estudiantes Beneficiados</p>
            </section>
          </section>
          <section
            class="col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <section
              class="shadow-lg card bg-oracle-red text-white text-center p-4 stat-card"
            >
              <h3 class="display-4 fw-bold">130</h3>
              <p class="lead">Paises Favorecidos</p>
            </section>
          </section>
          <section
            class="col-md-4 mb-3"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <section
              class="shadow-lg card bg-oracle-red text-white text-center p-4 stat-card"
            >
              <h3 class="display-4 fw-bold">1603</h3>
              <p class="lead">Proyectos Realizados</p>
            </section>
          </section>
        </section>
      </section>

      <section class="success-stories mb-5">
        <h2 class="text-center mb-4 substyle">Logros Destacados</h2>
        <section class="row">
          <section class="col-md-6 mb-4" data-aos="fade-right">
            <section class="shadow-lg card h-100 success-story cards">
              <figure class="card-img-top img-stories1"></figure>
              <section class="card-body">
                <h5 class="card-title text-oracle-red">
                  Empoderando a los Jóvenes en la Tecnología
                </h5>
                <p class="card-text">
                  A través de nuestras iniciativas educativas, ayudamos a los
                  jovenes a desarrollar habilidades de codificación que les
                  permitan conseguir un trabajo en una importante empresa
                  tecnológica.
                </p>
              </section>
            </section>
          </section>
          <section class="col-md-6 mb-4" data-aos="fade-left">
            <section class="shadow-lg card h-100 success-story cards">
              <figure class="card-img-top img-stories2"></figure>
              <section class="card-body">
                <h5 class="card-title text-oracle-red">
                  Fortalecimiento de la Asistencia Sanitaria
                </h5>
                <p class="card-text">
                  Hemos donado nuestro sistema de gestión de la salud basado en
                  la nube a varias naciones de África y otros lugares para
                  ayudar a optimizar los programas de administración de vacunas.
                </p>
              </section>
            </section>
          </section>
        </section>
      </section>

      <section class="get-involved text-center mb-5">
        <h2 class="mb-4 substyle">Involúcrate</h2>
        <p class="lead mb-4">
          Únete a nosotros para marcar la diferencia. Descubre cómo puede
          participar en nuestras iniciativas de impacto social.
        </p>
        <section class="d-flex justify-content-center">
          <button
            class="btn btn-lg bg-oracle-red text-white me-3 cta-button"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            Voluntariado
          </button>
          <button
            class="btn btn-lg btn-outline-danger cta-button"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            Hazte Socio
          </button>
        </section>
      </section>
    </main>

    <footer id="footer" class="footer light-background">
      <section class="container footer-top">
        <section class="row gy-4">
          <section class="col-lg-5 col-md-12 footer-about">
            <a href="index.html" class="logo d-flex align-items-center">
              <span class="sitename">Oracle</span>
            </a>
            <p>
              Oracle apoya a organizaciones de todos los tamaños a mejorar la
              eficiencia, la innovación y la toma de decisiones basadas en
              datos. Fundada en 1977.
            </p>
            <section class="social-links d-flex mt-4">
              <a href="https://x.com/oracle?lang=es"
                ><i class="bi bi-twitter-x"></i
              ></a>
              <a href="https://www.facebook.com/Oracle"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://www.instagram.com/oracle/"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="https://pe.linkedin.com/company/oracle"
                ><i class="bi bi-linkedin"></i
              ></a>
            </section>
          </section>

          <section class="col-lg-2 col-6 footer-links">
            <h4>Compañia</h4>
            <ul>
              <li><a href="index.html">Inicio</a></li>
              <li><a href="../templates/aboutUs.html">Quienes somos</a></li>
              <li><a href="../templates/resources.html">Recursos</a></li>
              <li><a href="../templates/news.html">Noticias</a></li>
              <li><a href="../templates/employees.html">Empleos</a></li>
              <li>
                <a href="../templates/social-impact.html">Impacto Social</a>
              </li>
            </ul>
          </section>

          <section class="col-lg-2 col-6 footer-links">
            <h4>Nuestros Servicios</h4>
            <ul>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Security Services</a
                >
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Blockchain</a
                >
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/">Oracle AI</a>
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Database Services</a
                >
              </li>
              <li>
                <a href="https://www.oracle.com/customer-success/"
                  >Oracle Analytics</a
                >
              </li>
            </ul>
          </section>

          <section
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contactanos</h4>
            <p>Av. El Derby 055 Piso 5 Of. 502</p>
            <p>Centro de Negocios Cronos Torre 1</p>
            <p>Lima, Perú</p>
            <p class="mt-4">
              <strong>Teléfono:</strong> <span>+51 1 615 1047</span>
            </p>
            <p><strong>Correo:</strong> <span>oracle.peru@gmail.com</span></p>
          </section>
        </section>
      </section>

      <section class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">Oracle 2024</strong>
          <span>Todos los derechos reservados</span>
        </p>
      </section>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <section id="preloader"></section>

    <!-- Bootstrap Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- PHP Email Form Validation -->
    <script src="https://cdn.jsdelivr.net/gh/twbs/form-validation@1.0.0/validate.min.js"></script>
    <!-- Asegúrate de verificar si este es el correcto o una alternativa -->

    <!-- AOS (Animate on Scroll) -->
    <script src="https://cdn.jsdelivr.net/npm/aos@3.0.0-beta.6/dist/aos.js"></script>

    <!-- Waypoints -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/noframework.waypoints.min.js"></script>

    <!-- PureCounter -->
    <script src="https://cdn.jsdelivr.net/npm/@srexi/purecounterjs@1.5.0/dist/purecounter_vanilla.js"></script>

    <!-- GLightbox -->
    <script src="https://cdn.jsdelivr.net/npm/glightbox@3.2.0/dist/js/glightbox.min.js"></script>

    <!-- ImagesLoaded -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>

    <!-- Isotope Layout -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>

    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10.2.0/swiper-bundle.min.js"></script>

    <script src="../static/js/social-impact.js"></script>
    <script src="../static/js/aboutUs.js"></script>
  </body>
</html>
