<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barra de Navegación</title>
    <link rel="stylesheet" href="../static/css/values.less" />
    <link rel="stylesheet" href="../static/css/index.less" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <nav>
        <section class="logo">
          <a href="/index.html">
            <img src="/static/img/home/riot-logo.svg" alt="Riot Games Logo" />
          </a>
        </section>
        <ul class="nav-links">
          <li>
            <a href="/templates/values.html">QUIÉNES SOMOS</a>
          </li>
          <li>
            <a href="/templates/riotOffices.html"
              >TRABAJA CON NOSOTROS</a
            >
          </li>
          <li><a href="">NOTICIAS</a></li>
          <li><a href="/templates/values.html">DIVERSIDAD</a></li>
        </ul>
        <section class="nav-right">
          <select class="language-select">
            <option value="es">ES</option>
            <option value="en">EN</option>
          </select>
          <section class="search-container">
            <input type="text" placeholder="BUSCAR" />
            <i class="fas fa-search"></i>
          </section>
          <button class="login-btn">INICIAR SESIÓN</button>
        </section>
        <section class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </section>
      </nav>
    </header>
    <section class="image-section">
      <img
        src="/static/img/values/convencion.jpg"
        alt="Convención"
        class="convencion-image"
      />
      <h1 class="title">Nuestros valores</h1>
      <h2 class="subtitle">Antes que todo, somos jugadores</h2>
      <p class="text">
        Todo lo que hacemos es por los jugadores. Centrarnos de forma absoluta
        en los jugadores inspira la experiencia de juego más significativa y
        duradera.
      </p>
      <nav class="message-nav">
        <a href="#">JUGADORES PRIMERO</a>
        <a href="#">NOS LO TOMAMOS MUY SERIO</a>
        <a href="#">REALIZAR SUEÑOS</a>
        <a href="#">A LARGO PLAZO</a>
        <a href="#">UN SOLO RIOT</a>
      </nav>
    </section>
    <section class="black-section">
      <article class="black-item">
        <h2 class="black-title">Al servicio de los más fieles</h2>
        <p class="black-text">
          Nos centramos en los grupos de jugadores que más nos importan,
          sabiendo que harán que otros comiencen a jugar. Conforme estos grupos
          evolucionan, nosotros también para suplir sus necesidades y superar
          sus expectativas.
        </p>
      </article>
      <article class="black-item">
        <h2 class="black-title">Ser parte de la comunidad</h2>
        <p class="black-text">
          Nos gusta conocer a los jugadores haciendo uso de la empatía. Cada
          interacción es una gran oportunidad para reforzar nuestra relación y
          que sientan que forman parte de los juegos que tanto les gustan.
        </p>
      </article>
      <article class="black-item">
        <h2 class="black-title">Cuidamos un ecosistema en progreso</h2>
        <p class="black-text">
          Nuestros juegos deben ser justos, seguros y acogedores para todos
          aquellos que quieran unirse a su comunidad. Nos esforzamos por diseñar
          productos y crear entornos que hagan esto posible.
        </p>
      </article>
      <article class="black-item">
        <h2 class="black-title">Apoyamos a los jugadores en todo el mundo</h2>
        <p class="black-text">
          Nuestras inversiones y esfuerzos, así como los problemas que
          solucionamos, deben beneficiar a todos los jugadores del mundo,
          independientemente de su identidad, su país o su cultura.
        </p>
      </article>
    </section>
    <section class="who-are">
      <img
        src="https://www.riotgames.com/darkroom/original/471801e74881636a1921c9d1ae51c8e5:250117c932995c1f576bfddbf834218a/riot-3d-fists.gif"
      />
    </section>
    <footer class="footer">
      <section class="footer-content">
        <article class="social-icons">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </article>
        <article class="footer-links">
          <a href="#">Política de Privacidad</a>
          <a href="#">Términos de Servicio</a>
          <a href="#">Contacto</a>
        </article>
      </section>
      <article class="footer-bottom">
        <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
      </article>
    </footer>
  </body>
</html>
